* {
  background-color: #0b0b0d;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: "Satoshi", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.resetButtonHref {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cards-container {
  width: 90%;
  margin: auto;
  display: grid;
  row-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.cards-container p {
  color: #afafb7;
}

.custom-spotlight-card {
  color: white;
  aspect-ratio: 16 / 9;
  width: 80%;
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-spotlight-card img {
  background-color: transparent;
  width: 35px;
}

.custom-spotlight-card h3 {
  background-color: transparent;
}

.custom-spotlight-card p {
  background-color: transparent;
}

.container {
  --mask: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
    )
    no-repeat center/100% 100%;

  -webkit-mask: var(--mask);
  mask: var(--mask);

  width: 90%;
  margin: auto;
}

.tech-logo {
  width: 80px;
  height: auto;
}

.tech-name {
  color: white;
  padding-top: 15px;
}

.section-title {
  margin-top: 8rem;
  font-size: 2.5rem;
  font-weight: 900;
  color: rgb(150, 110, 250);
  text-align: center;
}

.section-desc {
  font-size: 2rem;
  color: white;
  line-height: 1.3;
  margin: 0;
}
.about-me-section-text {
  width: 80%;
  margin: auto;
}
.highlight-yellow {
  color: rgb(255, 208, 116);
}

.highlight-teal {
  color: rgb(23, 241, 209);
}
.highlight-blue {
  color: rgba(116, 208, 255, 1);
}
/* .desc-paragraph {
  display: flex;
} */

.social-media-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-logo {
  width: 80px;
  height: auto;
  margin: 0 3rem;
}

.timeline:before {
  content: "";
  position: absolute;
  height: 100%;
  left: 50%;
  width: 2px;
  top: -20px;
  background: #fff;
  z-index: 1;
}
.timeline {
  position: relative;
  margin: 50px auto;
  width: 1000px;
  padding: 50px 0;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  box-sizing: border-box;
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 40px 70px;
}
.timeline ul li p {
  color: white;
}
.timeline ul li .right_content h2 {
  color: rgb(116, 208, 255);
  padding: 0px 2px 18px 0px;
}
.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.left_content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(116, 208, 255, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(58, 112, 239, 0.2);
  right: -6px;
  top: 24px;
  z-index: 1;
}

.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(116, 208, 255, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(58, 112, 239, 0.2);
  left: -6px;
  top: 24px;
}

.timeline ul li:nth-child(odd) .left_content {
  position: absolute;
  top: -5px;
  right: -250px;
  margin: 0;
  padding: 0px 16px;

  color: #fff;
  box-shadow: 0 0 0 3px rgba(116, 208, 255, 0.3);
  border-radius: 18px;
}

.timeline ul li:nth-child(even) .left_content {
  position: absolute;
  top: -5px;
  left: -250px;
  margin: 0;
  padding: 0px 16px;

  color: #fff;
  box-shadow: 0 0 0 3px rgba(116, 208, 255, 0.3);
  border-radius: 18px;
}

@media (max-width: 1000px) {
  .timeline {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .timeline {
    width: 100%;
  }
  .timeline:before {
    left: 20px;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
  }

  .timeline ul li:nth-child(odd):before {
    top: -18px;
    left: 16px;
  }
  .timeline ul li:nth-child(even):before {
    top: -18px;
    left: 16px;
  }

  .timeline ul li:nth-child(odd) .left_content,
  .timeline ul li:nth-child(even) .left_content {
    top: -30px;
    left: 50px;
    right: inherit;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 1700px) {
  .cards-container {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }

  .custom-spotlight-card {
    aspect-ratio: 9 / 3;
  }
}

@media (max-width: 1400px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .custom-spotlight-card {
    width: 60%;
    aspect-ratio: 9 / 3;
  }
}

@media (max-width: 1024px) {
  .section-title {
    margin-top: 6rem;
    font-size: 2.2rem;
  }
}

@media (max-width: 900px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .custom-spotlight-card {
    width: 50%;
  }
}

@media (max-width: 850px) {
  .cards-container {
    width: 80%;
  }

  .custom-spotlight-card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .tech-logo {
    width: 60px;
  }
  .section-title {
    margin-top: 4rem;
    font-size: 2rem;
  }
  .section-desc {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .cards-container {
    width: 80%;
  }
  .custom-spotlight-card {
    width: 100%;
    aspect-ratio: 2 / 1;
  }
  .cards-container {
    grid-template-columns: 1fr;
  }
  .custom-spotlight-card {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .section-title {
    margin-top: 2rem;
  }
  .section-desc {
    font-size: 1.6rem;
  }
  .tech-logo {
    width: 45px;
  }
}
