body {
  margin: 0;
  font-family: Tahoma, "MS Sans Serif", "Segoe UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Lucida Console", "Courier New", monospace;
}
